.mat-form-field {
    display: block;
    width: 250px;
}

.modal-content {
    border: none;
}
.mat-card {
    width: 400px;
    .mat-radio-button {
        margin-right: 30px;
    }
}
.mat-form-field {
    width: 100%;
    .mat-form-field-wrapper {
        width: 100%;
    }
}
button.mat-focus-indicator.btn-block.mat-stroked-button.mat-button-base.mat-accent {
    width: 200px;
}
.mat-form-field-flex.ng-tns-c135-4 {
    width: 240px !important;
}
