<div class="container mt-5">
    <h1 class="text-center mb-4">Change Password</h1>
    <form (ngSubmit)="changePassword()">
      <div class="mb-2">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Enter old password" [(ngModel)]="oldPassword" name="oldPassword" required>
      </div>
      <div class="mb-2">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div class="mb-2">
        <label for="confirm-new-password" class="form-label"> confirm-New Password</label>
        <input type="password" class="form-control" id="confirmnewPassword" placeholder="confirm-New Password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
      </div>

      

      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>

    <div>
        <p>
            Password should satisy following conditions:</p>
                   <li>Minimum length 8</li>
                  <li> Maximum length 15</li>
                   <li>Atleast one capital alphabet</li>
                   <li>Atleast 3 small alphabet</li>
                   <li>Atleast one numeric character</li>
        
      </div>
  </div>
  